In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import confusion_matrix
import numpy as np

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/iris.csv")

In [ ]:
data

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
#data preparation

training_set, test_set = train_test_split(data, test_size = 0.2, random_state = 1)

X_train = training_set.iloc[:,0:4]
Y_train = training_set.iloc[:,4]
X_test = test_set.iloc[:,0:4]
Y_test = test_set.iloc[:,4]

In [ ]:
X_train

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
91            6.1          3.0           4.6          1.4
135           7.7          3.0           6.1          2.3
69            5.6          2.5           3.9          1.1
128           6.4          2.8           5.6          2.1
114           5.8          2.8           5.1          2.4
..            ...          ...           ...          ...
133           6.3          2.8           5.1          1.5
137           6.4          3.1           5.5          1.8
72            6.3          2.5           4.9          1.5
140           6.7          3.1           5.6          2.4
37            4.9          3.6           1.4          0.1

[120 rows x 4 columns]

In [ ]:
adaboost = AdaBoostClassifier(n_estimators=50, base_estimator= None,learning_rate=1.5, random_state = 1)
adaboost.fit(X_train,Y_train)
Y_pred = adaboost.predict(X_test)

In [ ]:
cm = confusion_matrix(Y_test,Y_pred)
accuracy = np.mean(Y_pred==Y_test)
print("\nAccuracy Of AdaBoost For The Given Dataset :", accuracy)

Accuracy Of AdaBoost For The Given Dataset : 0.9666666666666667

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
print('\nAccuracy Of AdaBoost For The Given Dataset: {:.2f}'.format(accuracy))

Accuracy Of AdaBoost For The Given Dataset: 0.97

In [ ]:
cm

array([[11,  0,  0],
       [ 0, 12,  1],
       [ 0,  0,  6]])

In [ ]:
acc=(11+12+6)/(11+12+6+1)
acc

0.9666666666666667

In [ ]:
print('\nAccuracy Of AdaBoost For The Given Dataset: {:.2f}'.format(acc))

Accuracy Of AdaBoost For The Given Dataset: 0.97