In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn import preprocessing

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
dataset = pd.read_csv('/content/drive/MyDrive/ML & AI/Real estate.csv')
dataset

      No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0      1             2012.917  ...     121.54024                        37.9
1      2             2012.917  ...     121.53951                        42.2
2      3             2013.583  ...     121.54391                        47.3
3      4             2013.500  ...     121.54391                        54.8
4      5             2012.833  ...     121.54245                        43.1
..   ...                  ...  ...           ...                         ...
409  410             2013.000  ...     121.50381                        15.4
410  411             2012.667  ...     121.54310                        50.0
411  412             2013.250  ...     121.53986                        40.6
412  413             2013.000  ...     121.54067                        52.5
413  414             2013.500  ...     121.54310                        63.9

[414 rows x 8 columns]

In [6]:
X = dataset.iloc[:, 0:7]
print(X)
y = dataset.iloc[:, 7]

      No  X1 transaction date  ...  X5 latitude  X6 longitude
0      1             2012.917  ...     24.98298     121.54024
1      2             2012.917  ...     24.98034     121.53951
2      3             2013.583  ...     24.98746     121.54391
3      4             2013.500  ...     24.98746     121.54391
4      5             2012.833  ...     24.97937     121.54245
..   ...                  ...  ...          ...           ...
409  410             2013.000  ...     24.94155     121.50381
410  411             2012.667  ...     24.97433     121.54310
411  412             2013.250  ...     24.97923     121.53986
412  413             2013.000  ...     24.96674     121.54067
413  414             2013.500  ...     24.97433     121.54310

[414 rows x 7 columns]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [8]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)


y_pred = regressor.predict(X_test)

In [9]:
y_pred

array([34.59222454, 47.58673483, 20.9226481 , 12.49402832, 43.11887361,
       34.53739706, 30.94528506, 45.32577595, 38.04839075, 13.90217198,
       11.89791644, 38.52611287, 31.88063097, 45.37604685, 50.84658168,
       36.2862735 , 44.41072387, 45.22203001, 30.05273304, 43.75888331,
       51.29456053, 28.42367787, 40.02214039, 46.83612492, 45.84974629,
       27.92864195, 31.22197429, 47.76028543, 46.28854703, 15.07952064,
       33.75569025, 34.83403033, 42.32056056, 44.63278564, 48.22580741,
       12.97087505, 41.19586968, 41.23713034, 38.99845431, 13.34108478,
       39.17706813, 24.42380144, 54.59173411, 36.60841823, 34.90462826,
       38.87349258, 30.70013923, 39.54325265, 45.86276573, 34.25812241,
       11.34870326, 44.60912585, 44.90742037, 13.80958428, 49.00623946,
       42.27434654, 44.23307525, 39.39850242, 38.07681462, 39.67756938,
       25.07802274, 40.22903165, 35.23138718, 12.73839662, 40.28227559,
       45.09055924, 39.4620461 , 47.19403621, 14.23920405, 40.31613727,
       47.66924523,  9.00973503, 33.91652204, 39.4240646 , 49.3609924 ,
       37.78230244, 35.74899709, 38.3323727 , 40.84208554, 48.13291437,
       45.74858646, 41.06978899, 45.75763514])

In [10]:
y_test

388    27.3
102    54.4
187    22.0
162    11.6
90     45.4
       ...
322    33.1
119    59.6
245    40.8
146    52.2
360    47.1
Name: Y house price of unit area, Length: 83, dtype: float64

In [11]:
score=r2_score(y_pred, y_test)
score

0.6457563974382452